<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Dolci di Piera</title>
		<!-- Latest compiled and minified CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous"
		/>
		<!-- GFonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		<!-- Style -->
		<link rel="stylesheet" href="assets/css/style.css" />
	</head>
	<body>
		<div class="wrapper" id="app">
			<div class="card_container">
				<h1 class="store-name">{{ storeName }}</h1>
				<div class="product-card" v-for="(product, index) in products">
					<h5>{{ product.data.title }}</h5>
					<p>Descrizione: {{ product.data.description }}</p>
					<p>Prezzo: {{ product.data.price }} €</p>
					<p>Categoria: {{ product.data.category }}</p>
					<p>Dipendente: {{ product.data.employee }}</p>
					<p v-if="product.data.reviews" v-for="review in product.data.reviews">
						Review: {{ review }}
					</p>
					<span class="actions">
						<button
							type="button"
							class="btn btn-danger pull-right"
							data-toggle="modal"
							@click="deleteData(product.id)"
						>
							Elimina
						</button></span
					>
				</div>
				<button
					type="button"
					class="btn btn-success pull-right insert-button"
					data-toggle="modal"
				>
					Inserisci un nuovo prodotto
				</button>
			</div>
		</div>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
			integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="assets/js/main.js" charset="utf-8"></script>
	</body>
</html>
