* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #aeebdf;
}

.store-name {
	font-family: "Oleo Script", cursive;
}

.card_container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	margin-top: 100px;
}

.product-name {
	text-transform: uppercase;
}

.review {
	background-color: #ffd0c6;
	border-radius: 5px;
	padding: 1rem;
	margin: 20px 0;
}

.tag {
	font-weight: bold;
}

.product-card {
	background-color: #f8f9fa;
	border: 3px solid #ffd0c6;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
	padding: 2rem;
	border-radius: 5px;
}

.product-card:hover {
	cursor: pointer;
	transition: 0.3s;
	transform: scale(1.015);
}
